<!---
  watch로 상태값에 따라 다르게 만들기
  1.sorting
  2.on 적용 - red
  3. 밑에부분 변경 (정보마크업 바꾸기)
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./css/movie1.css">
  <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
  <div class="movie" id="app">
          <!---탭추가-->
    <ul class="tab" @click.prevent="setContext"> <!---클릭 감지기를 여기에 걸기-->
      <li :class="order.ticketing"><a href="">예매순</a></li>
      <li :class="order.score"><a href="">평점순</a></li>
      <li :class="order.openDate"><a href="">개봉일순</a></li>
      <li :class="order.week"><a href="">주말관객순</a></li>
      <li :class="order.sale"> <a href="">다운로드순</a></li>
    </ul>
    <ol class="list">
      <li v-for="(movie, i) in movies">
          <a href="">
            <h4 class="hide">{{ movie.name }}</h4>
            <span :class="['hide', 'rate', 'rate' + movie.rate[0]]">{{ movie.rate[1] }}</span>
            <strong class="rank">{{ i + 1 }}</strong>
            <img class="poster" :src="movie.src" :alt="movie.name"/>
            <!---v-if처리 movContext-->

            <!--평점순--->
            <span class="desc" v-if="movContext === 'score'">
                <i class="star"><b :style=" 'width:' + (movie.score * 10) +'%'"></b></i>
                <em class="score">{{ movie.score }}</em>
            </span>
            <!----예매율순-->
            <span class="desc" v-else-if="movContext === 'ticketing'">
              <i class="reserv title">예매율</i>
              <em class="reserv data">{{movie.ticketing}}</em>
            </span>
            <!-- -개봉일순-->
            <span class="desc" v-else-if="movContext === 'openDate'">
              <em class="open data">{{movie.openDate}}<b>개봉</b></em>
            </span> 

            <!---주말관객순-->
            <span class="desc" v-else-if="movContext === 'week'">
              <i class="week title">주말관객</i>
              <em class="week data">{{movie.week}}</em>
            </span>
            <!-- -판매율순--->
            <span class="desc" v-else-if="movContext === 'sale'">
              <i class="sale title">판매율</i>
              <em class="sale data">{{movie.sale}} </em>
            </span> 
          </a>
      </li>
    </ol>
  </div>

  <script>
    // 아래 데이터를 활용하세요.
    // --- 1. create되면 rateMach 테이블을 이용해 movies에 rate항목을 rate: [12, '12세이상 관람가'] 형태로 만든다.
    // --- 2. 평점(score) 순으로 데이터를 소팅한다.
    // 3. for 문을 돌면서 각 데이터를 넣어 랜더링 하도록 디렉티브 작업을 한다.
    Vue.createApp({
      data() {
        return {
          movContext:'ticketing', //메인 상태값---
          // order :{
          //   ticketing:'on',
          //   score:'',
          //   openDate:'',
          //   sale:'',
          //   week:'',
          // },

          
          rateMatch: {
            '0': '전체관람가',
            '12': '12세이상 관람가',
            '15': '15세이상 관람가',
            '19': '19세이상 관람가',
            '20': '청소년관람불가'
          },
          movies: [
            { // movie.rate[1]
              name: '남애의 여름밤',
              src: 'images/mov_1.jpg',
              rate: 20, //[12, '12세이상 관람가'],
              score: 9.43, //평점
              sale: 11.7,  //판매율
              openDate: 8.26,  //개봉일F
              ticketing: 11.79, //예매율
              week: 8777, //주말관객
            },
            {
              name: '시크릿 가든',
              src: 'images/mov_2.jpg',
              rate: 0,
              score: 8.13,
              sale: 7.7,  //판매율
              openDate: 9.3,  //개봉일
              ticketing: 20.66,
              week: 2000
            },
            {
              name: '반도',
              src: 'images/mov_3.jpg',
              rate: 15,
              score: 8.54,
              sale: 7.7,
              openDate: 9.3,
              ticketing: 9.79,
              week: 23327
            },
            {
              name: '강철비2',
              src: 'images/mov_4.jpg',
              rate: 19,
              score: 7.43,
              sale: 7.7,
              openDate: 9.7,
              ticketing: 8.6,
              week: 23421
            },
            {
              name: '신혼여행 허리케인',
              src: 'images/mov_5.jpg',
              rate: 12,
              score: 6.2,
              sale: 10.7,
              openDate: 8.17,
              ticketing: 2.11,
              week: 3213
            },
            {
              name: '테넷',
              src: 'images/mov_6.jpg',
              rate: 19,
              score: 7.12,
              sale: 9.11,
              openDate: 11.17,
              ticketing: 3.21,
              week: 3213
            },
            {
              name: '오케이 마담',
              src: 'images/mov_7.jpg',
              rate: 20,
              score: 9.43,
              sale: 9.11,
              openDate: 9.1,
              ticketing: 3.79,
              week: 2277
            },
            {
              name: '다만 악에서 구하소서',
              src: 'images/mov_8.jpg',
              rate: 20,
              score: 8.9,
              sale: 8.8,
              openDate: 8.21,
              ticketing: 12.79,
              week: 83777
            }
          ]
        }
      },
      watch:{
        movContext(newCxt){
         // 개봉일순,주말관객순,다운로드순
          if (newCxt ==='score') {this.setOrder('ticketing')};
          else if (newCxt === 'openDate') {this.setOrder("openDate")};
          else if (newCxt ==="week"){this.setOrder("week")}
           
          elseif (newCxt ==="sale"){this.setOrder("sale")}
           
          elseif (newCtx ==="ticketing"){this.setOrder("ticketing")}
          
        }
      },
      methods: {
        setOrder(cxt){
          this.movies.sort((a,b) => b[cxt] - a[cxt]) //괄호로 감싸면 변수처리 가능
        },
        setContext(ev){ //상태바꾸기  --- 위의 상단 탭 색깔 바꾸기 )
          if(ev.target.tagName !== 'A') return; //걸러내기
          this.movContext = ev.target.textContent;
          thissetCrrTab(ev.target.parentNode) //덤 일 (li만 들어감)
          

        },
        setCrrTab(lielem){
          //li 가져와서  on 지우기
          this.$refs.tab.querySelectorAll('li').forEach(item => {
            item.classList.remove('on');
          })
          lielem.classList.add('on')
           
          //lielem에 on 주기 
          //on만 주는 일
          //ev.target을 받아와서 setCrrTab일을 할 수 있도록
        }
      },
      
      created() {
        // rate 데이터 손보기
        for (const movie of this.movies) {
          movie.rate = [movie.rate, this.rateMatch[movie.rate]]
        }
        // score 순으로 소팅
        this.setOrder('score')
        // this.movies.sort((a, b) => b.score - a.score);
        // console.log(this.movies)
      },
      mounted(){
        this.$refs.tab.querySelectorAll('li').forEach(item=>{
          if (item.firstChild.textcontent ==this.movContext){//firstChild 는 a
              this.setCrrTab(item)

          }  
        })
      }
    }).mount('#app')

    
    
  </script>
</body>
</html>