//칼로리 계산

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/vue@3"></script>
</head>
<body>
<div id = 'app'>
        <h1>칼로리 관리</h1>
        <input type = 'text' placeholder="섭취한 칼로리 입력하세요." v-model="inputValue" v-on:keyup.enter="addKcal">
        <button v-on:click="addKcal()">입력</button>
        <p v-if="myKcal.length === 0"> 아직입력하지 않았습니다.</p>
    <div v-else>
        <h2>칼로리 기록</h2>
        <ul>
        <li>{{ myKcal[0].date }}: {{ myKcal[0].value+'kcal' }}</li>
        </ul>
    </div>
</div>
    <script>
        Vue.createApp({
            data(){
                return{
                    inputValue:'',
                    myKcal:[],
                };
            },
            methods:{
                addKcal(){
                    let date = new Date(); //객체만들기
                    let year = date.getFullYear(); //year
                    let month = date.getMonth()+1; //month 0부터 세니까 +1
                    let day = date.getDate(); //date
                    this.myKcal.push({  //myKcal배열에 넣기
                    date:`${year}-${month}-${day}`, value: this.inputValue
                    })
                    this.inputValue=''
                }

            }
        }).mount('#app');
    </script>
</body>
</html>